Kelpie_maps/old/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries.zip
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes/*
.Rproj.user
HJA_scripts/5_taxonomy/.Rproj.user/*
HJA_scripts/7_idxstats_tabulate/.Rproj.user/*
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/pcs/source-pane.pper
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/pcs/windowlayoutstate.pper
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/pcs/workbench-pane.pper
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/per/t/403719FE
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/per/t/403719FE-contents
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/prop/DC52ED86
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/prop/INDEX
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/222A7010-R_command_history/1/s/chunks.json
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/paths
sjSDM/R-git/R/result/s-jSDM_tune_s1_m1_spike.relAbun.RDS
sjSDM/R-git/R/result/s-jSDM_tune_s2_m1_spike.relAbun.RDS
sjSDM/R-git/R/result/s-jSDM_tune_best_s2_m1_spike.relAbun.RDS
HJA_scripts/08_reference_sequences_datasets/~$biodiversity_site_info_vars_descriptions_20200214.xlsx
sjSDM/R-git/adagpu/results_20200823_cv5/sjsdm.err
sjSDM/R-git/adagpu/results_20200823_cv5/sjsdm.out
sjSDM/R-git/adagpu/results_20200823_44OTU_loocv/sjsdm_tune_results_HJA_20200823.RDS
sjSDM/R-git/results/crossvalidation/results_20200904_5minocc_lidar_qp_loocv/sjsdm_tune_results_HJA_20200904.RDS
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200917_kelpie_20200916_BF3BR2_derep_filter3_vsearch97_rmdup_spikes.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200917_kelpie_20200916_BF3BR2_derep_filter3_vsearch97_rmdup_spikes_old.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200922_kelpie_20200916_LERAY_derep_filter3_vsearch97_rmdup_spikes.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200929_kelpie_20200927_BF3BR2_derep_filter3_vsearch97_rmdup_spikes.tar.gz
HJA_scripts/09_ecological_analyses/~$pa_vs_qp_tables_20201203.xlsx
HJA_scripts/09_ecological_analyses/ecoCopula_questions/~$pa_vs_qp_tables_20201203.xlsx
HJA_scripts/09_ecological_analyses/ecoCopula_questions/~$pa_vs_qp_tables_20201204.xlsx
HJA_scripts/08_reference_sequences_datasets/HJA_datasets/~$SA00101_v2.xlsx
Kelpie_maps/outputs_minimap2_20200929_F2308_q48_kelpie20200927_BF3BR2_vsearch97/ecoCopula_interim_results_20201209.key
HJA_scripts/08_reference_sequences_datasets/~$pa_vs_qp_tables_20201206.xlsx
Hmsc_CD/working_cd/
HJA_scripts/08_reference_sequences_datasets/~$pa_vs_qp_tables_20210128.xlsx
HJA_sjSDM_paper/misc_presentations/old/
HJA_sjSDM_paper/misc_presentations/Prelim_HJA_sjSDM_results_20210224.key
.Rhistory