Kelpie_maps/old/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries.zip
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes/*
.Rproj.user
HJA_scripts/5_taxonomy/.Rproj.user/*
HJA_scripts/7_idxstats_tabulate/.Rproj.user/*
