Kelpie_maps/old/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries.zip
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes.tar.gz
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes_BWA11_dilutionseries/*
Kelpie_maps/outputs_F2308_f0x2_q48_minimap2_outputs_20200221_kelpie_20200214_BF3BR2_derep_filtered_geneious_vsearch97_min2_spikes/*
.Rproj.user
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/paths
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/6FD07149-1_assign_taxonomies_20200218/1/s/chunks.json
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/6FD07149-1_assign_taxonomies_20200218/1/5543A3FE5286410/chunks.json
HJA_scripts/5_taxonomy/.Rproj.user/shared/notebooks/6FD07149-1_assign_taxonomies_20200218/1/5543A3F5044F3EC/chunks.json
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/prop/INDEX
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/per/t/403719FE-contents
HJA_scripts/5_taxonomy/.Rproj.user/5543A3F/sources/per/t/403719FE
